// @import "../layout/content-sidebar";
a{
    color: $visionColor;
    text-decoration:none;
    &:focus, &:hover{
        color: darken($visionColor, 20%);
        text-decoration: underline !important;
    }
}
@import "../layout/grid";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
/*--------------------------------------------------------------
## Articles
--------------------------------------------------------------*/
@import "primary/articles";

/*--------------------------------------------------------------
## Cards
--------------------------------------------------------------*/
@import "primary/cards";

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
@import "secondary/author-box";
@import "secondary/widgets";
@import "secondary/pagination";
