.widget{
	ol{
		margin:0;
		padding:0;
	}
	.card-wrapper{
		background-color: white;
		margin-bottom: em(5);
		list-style: none;
		.images-wrapper
		{
			@include yv-span-columns(2,4,4);
			img{
					@include fill-parent();
			}
		}
		.card-content
		{
			@include yv-span-columns(2,4,8);
			h4{
				margin-top: em(0);

				@include word-wrap(normal);
			}
			a{
				color:black;
			}
		}
	}
}
