$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/// the Red used for the header and footer
$visionColor: #CC0000;
$newsColor: #A70009;
$sportColor:#304408;
$opinionColor: #7171C6;
$featuresColor: #CB7835;
$columnsColor: #48FFFF;
$sceneColor: #2255FF;
/// Used on visionColor backgrounds
$headerTextColour: #FFFFFF;

$categoryColorMap : ("news":$newsColor,"sports":$sportColor,"opinion":$opinionColor,"features":$featuresColor,"columns":$columnsColor,"scene":$sceneColor );

@each $cat, $color in $categoryColorMap {
    .#{$cat}{
        &.triangle
        {
            @include triangle(em(12), #{$color}, right);
            display: inline-block;
            margin-right: 1%;
            &.large
            {
                display: inline-block;
                margin-right: 1%;
                @include triangle(em(25), #{$color}, right);
            }
        }
    }
    .category-title
    {
        @include fill-parent();
        @include margin(null em(5));
        h2
        {
            & > span
            {
                &.#{$cat}{
                    border-bottom: em(5) #{$color} solid;
                }

                @include padding(null em(10));
            }
        }
    }
}
