.card-row
{
    @include display(flex);
    @include flex-wrap(wrap);
    &.first{
        @include justify-content(center);
    }
    @include justify-content(space-between);
}
.card
{
    $card-color: #000;
    $card-text: #fff;
    $background-color:  rgba(0, 0, 0, 0.64);
    overflow: hidden;

    color: $card-text;
    background: $background-color;
    position: relative;

    ///@todo need to ensure that the flex boxes don't get too arge
    @include yv-flex-setup();
    .card-wrapper{
        @include yv-square();
        .images-wrapper
        {
            @include yv-span-columns(2,8,12);
            img{
                    @include fill-parent();
            }
        }

        .card-content
        {
            @include yv-card-text();
            @include yv-span-columns(2,8,12);
            h2
            {
                margin-top: em(0);

                @include word-wrap(normal);
            }
        }
    }

}

.card-cat{
    margin-left: 1%;
    display: inline;
}
